.container {
  margin-top: 20px; }

.jumbotron {
  background-image: url("https://images.unsplash.com/photo-1444824775686-4185f172c44b?crop=entropy&dpr=2&fit=crop&fm=jpg&h=700&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1300");
  background-position: center;
  background-size: cover;
  color: white; }
